body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

#colorBox {
    width: 200px;
    height: 200px;
    background-color: #3498db; /* Default color */
    padding: 20px;
    cursor: pointer;
}
